body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #3f51b5;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.App-main {
  display: flex;
  justify-content: flex-start; /* Ensure left and center containers are spaced */
  padding: 20px;
}

.left-container {
  max-width: 300px;
  margin-right: 20px;
  flex-shrink: 0;
}

.center-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-event-btn {
  margin-bottom: 20px;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #303f9f;
}

h1, h2 {
  font-weight: 400;
  color: #333;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
}
